name: CI

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "15 8 * * 1"

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build-and-test:
    name: ${{ matrix.os }} - ${{ matrix.compiler }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        compiler: [default]
        cc: ['']
        cxx: ['']
        include:
          - os: ubuntu-latest
            compiler: gcc
            cc: gcc-13
            cxx: g++-13
          - os: ubuntu-latest
            compiler: clang
            cc: clang-17
            cxx: clang++-17
          - os: macos-latest
            compiler: default
          - os: windows-latest
            compiler: default
        exclude:
          - os: ubuntu-latest
            compiler: default
          - os: macos-latest
            compiler: default
          - os: windows-latest
            compiler: default

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install GCC 13 (Ubuntu)
      if: matrix.os == 'ubuntu-latest' && matrix.compiler == 'gcc'
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-13 g++-13

    - name: Install Clang 17 (Ubuntu)
      if: matrix.os == 'ubuntu-latest' && matrix.compiler == 'clang'
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 17
        sudo apt-get install -y clang-17

    - name: Install dependencies for macos with homebrew
      uses: tecolicom/actions-use-homebrew-tools@v1
      if: matrix.os == 'macos-latest'
      with:
        tools: glog spdlog catch2

    - name: Configure CMake Release
      run: cmake -B build_release -DCMAKE_BUILD_TYPE=Release -DMEHLOG_BUILD_EXAMPLES=ON -DMEHLOG_BUILD_TESTS=ON -DCMAKE_VERBOSE_MAKEFILE=ON
      env:
        CC: ${{ matrix.cc }}
        CXX: ${{ matrix.cxx }}

    - name: Build
      run: cmake --build build_release --config Release --verbose --parallel

    - name: Run tests
      run: ctest --test-dir build_release --output-on-failure --build-config Release

    - name: Configure CMake Debug
      run: cmake -B build_debug -DCMAKE_BUILD_TYPE=Debug -DMEHLOG_BUILD_EXAMPLES=ON -DMEHLOG_BUILD_TESTS=ON -DCMAKE_VERBOSE_MAKEFILE=ON
      env:
        CC: ${{ matrix.cc }}
        CXX: ${{ matrix.cxx }}

    - name: Build
      run: cmake --build  build_debug --config Debug --verbose --parallel

    - name: Run tests
      run: ctest --test-dir  build_debug --output-on-failure --build-config Debug
